.clearfix:before, .clearfix:after {
  content:" ";
  display:table;
}
.clearfix:after { clear:both; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display:block; }
audio, canvas, video {
  display:inline-block;
  display:inline;
  zoom:1;
}
audio:not([controls]) {
  display:none;
  height:0;
}
[hidden] { display:none; }
html {
  font-size:100%;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
}
html, button, input, select, textarea { font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; }
body { margin:0; }
a { text-decoration:none; }
a:focus { outline:thin dotted; }
a:active, a:hover { outline:0; }
h1 {
  font-size:2em;
  margin:.67em 0;
}
h2 {
  font-size:1.5em;
  margin:.83em 0;
}
h3 {
  font-size:1.17em;
  margin:1em 0;
}
h4 {
  font-size:1em;
  margin:1.33em 0;
}
h5 {
  font-size:.83em;
  margin:1.67em 0;
}
h6 {
  font-size:.67em;
  margin:2.33em 0;
}
abbr[title] { border-bottom:1px dotted; }
b, strong { font-weight:700; }
blockquote { margin:1em 40px; }
dfn { font-style:italic; }
hr {
  -moz-box-sizing:content-box;
  box-sizing:content-box;
  height:0;
}
mark {
  color:#000;
  background:#ff0;
}
p, pre { margin:1em 0; }
code, kbd, pre, samp {
  font-family:Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size:1em;
}
pre {
  white-space:pre;
  white-space:pre-wrap;
  word-wrap:break-word;
}
q { quotes:none; }
q:before, q:after {
  content:'';
  content:none;
}
small { font-size:80%; }
sub, sup {
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}
sup { top:-0.5em; }
sub { bottom:-0.25em; }
dl, menu, ol, ul { margin:1em 0; }
dd { margin:0 0 0 40px; }
menu, ol, ul { padding:0 0 0 40px; }
nav ul, nav ol {
  list-style:none;
  list-style-image:none;
}
img {
  border:0;
  -ms-interpolation-mode:bicubic;
}
svg:not(:root) { overflow:hidden; }
figure { margin:0; }
form { margin:0; }
fieldset {
  border:1px solid silver;
  margin:0 2px;
  padding:0.35em 0.625em 0.75em;
}
legend {
  border:0;
  padding:0;
  white-space:normal;
  margin-left:-7px;
}
button, input, select, textarea {
  font-size:100%;
  margin:0;
  vertical-align:baseline;
  vertical-align:middle;
}
button, input { line-height:normal; }
button, select { text-transform:none; }
button, input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance:button;
  cursor:pointer;
  overflow:visible;
}
button[disabled], input[disabled] { cursor:default; }
input[type="checkbox"], input[type="radio"] {
  box-sizing:border-box;
  padding:0;
  height:13px;
  width:13px;
}
input[type="search"] {
  -webkit-appearance:textfield;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance:none; }
button::-moz-focus-inner, input::-moz-focus-inner {
  border:0;
  padding:0;
}
textarea {
  overflow:auto;
  vertical-align:top;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
.form input[type=text], .form input[type=password], .form input[type=email], .form input[type=url], .form input[type=date], .form input[type=month], .form input[type=time], .form input[type=datetime], .form input[type=datetime-local], .form input[type=week], .form input[type=number], .form input[type=search], .form input[type=tel], .form input[type=color], .form select, .form textarea {
  padding:.5em .6em;
  display:inline-block;
  border:1px solid #ccc;
  font-size:.8em;
  box-shadow:inset 0 1px 3px #ddd;
  border-radius:4px;
  -webkit-transition:.3s linear border;
  -moz-transition:.3s linear border;
  -ms-transition:.3s linear border;
  -o-transition:.3s linear border;
  transition:.3s linear border;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.form input[type=text]:focus, .form input[type=password]:focus, .form input[type=email]:focus, .form input[type=url]:focus, .form input[type=date]:focus, .form input[type=month]:focus, .form input[type=time]:focus, .form input[type=datetime]:focus, .form input[type=datetime-local]:focus, .form input[type=week]:focus, .form input[type=number]:focus, .form input[type=search]:focus, .form input[type=tel]:focus, .form input[type=color]:focus, .form select:focus, .form textarea:focus {
  outline:0;
  outline:thin dotted \9;
  border-color:#129FEA;
}
.form input[type=file]:focus, .form input[type=radio]:focus, .form input[type=checkbox]:focus {
  outline:thin dotted #333;
  outline:1px auto #129FEA;
}
.form .checkbox, .form .radio {
  margin:.5em 0;
  display:block;
}
.form input[type=text][disabled], .form input[type=password][disabled], .form input[type=email][disabled], .form input[type=url][disabled], .form input[type=date][disabled], .form input[type=month][disabled], .form input[type=time][disabled], .form input[type=datetime][disabled], .form input[type=datetime-local][disabled], .form input[type=week][disabled], .form input[type=number][disabled], .form input[type=search][disabled], .form input[type=tel][disabled], .form input[type=color][disabled], .form select[disabled], .form textarea[disabled] {
  cursor:not-allowed;
  background-color:#eaeded;
  color:#cad2d3;
}
.form input[readonly], .form select[readonly], .form textarea[readonly] {
  background:#eee;
  color:#777;
  border-color:#ccc;
}
.form input:focus:invalid, .form textarea:focus:invalid, .form select:focus:invalid {
  color:#b94a48;
  border:1px solid #ee5f5b;
}
.form input:focus:invalid:focus, .form textarea:focus:invalid:focus, .form select:focus:invalid:focus { border-color:#e9322d; }
.form input[type=file]:focus:invalid:focus, .form input[type=radio]:focus:invalid:focus, .form input[type=checkbox]:focus:invalid:focus { outline-color:#e9322d; }
.form select {
  border:1px solid #ccc;
  background-color:#fff;
}
.form select[multiple] { height:auto; }
.form label {
  margin:.5em 0 .2em;
  font-size:90%;
}
.form fieldset {
  margin:0;
  padding:.35em 0 .75em;
  border:0;
}
.form legend {
  display:block;
  width:100%;
  padding:.3em 0;
  margin-bottom:.3em;
  font-size:125%;
  color:#333;
  border-bottom:1px solid #e5e5e5;
}
.form-stacked input[type=text], .form-stacked input[type=password], .form-stacked input[type=email], .form-stacked input[type=url], .form-stacked input[type=date], .form-stacked input[type=month], .form-stacked input[type=time], .form-stacked input[type=datetime], .form-stacked input[type=datetime-local], .form-stacked input[type=week], .form-stacked input[type=number], .form-stacked input[type=search], .form-stacked input[type=tel], .form-stacked input[type=color], .form-stacked select, .form-stacked label, .form-stacked textarea {
  display:block;
  margin:.25em 0;
}
.form-center input, .form-center textarea, .form-center select, .form-center .help-inline, .form-message-inline {
  display:inline-block;
  *display:inline;
  *zoom:1;
  vertical-align:middle;
}
.form-center .control-group { margin-bottom:.5em; }
.form-center .control-group label {
  text-align:right;
  display:inline-block;
  vertical-align:middle;
  width:10em;
  margin:0 1em 0 0;
}
.form-center .controls { margin:1.5em 0 0 10em; }
.form input.input-rounded, .form .input-rounded {
  border-radius:2em;
  padding:.5em 1em;
}
.form .group fieldset { margin-bottom:10px; }
.form .group input {
  display:block;
  padding:10px;
  margin:0;
  border-radius:0;
  position:relative;
  top:-1px;
}
.form .group input:focus { z-index:2; }
.form .group input:first-child {
  top:1px;
  border-radius:4px 4px 0 0;
}
.form .group input:last-child {
  top:-2px;
  border-radius:0 0 4px 4px;
}
.form .group button { margin:.35em 0; }
.form .input-1 { width:100%; }
.form .input-2-3 { width:66%; }
.form .input-1-2 { width:50%; }
.form .input-1-3 { width:33%; }
.form .input-1-4 { width:25%; }
.form .help-inline, .form-message-inline {
  display:inline-block;
  padding-left:.3em;
  color:#666;
  vertical-align:middle;
  font-size:90%;
}
.form-message {
  display:block;
  color:#666;
  font-size:90%;
}
@media only screen and (max-width: 480px) {
  .form button[type=submit] { margin:.7em 0 0; }
  .form input[type=text], .form input[type=password], .form input[type=email], .form input[type=url], .form input[type=date], .form input[type=month], .form input[type=time], .form input[type=datetime], .form input[type=datetime-local], .form input[type=week], .form input[type=number], .form input[type=search], .form input[type=tel], .form input[type=color], .form label {
    margin-bottom:.3em;
    display:block;
  }
  .group input[type=text], .group input[type=password], .group input[type=email], .group input[type=url], .group input[type=date], .group input[type=month], .group input[type=time], .group input[type=datetime], .group input[type=datetime-local], .group input[type=week], .group input[type=number], .group input[type=search], .group input[type=tel], .group input[type=color] { margin-bottom:0; }
  .form-center .control-group label {
    margin-bottom:.3em;
    text-align:left;
    display:block;
    width:100%;
  }
  .form-center .controls { margin:1.5em 0 0; }
  .form .help-inline, .form-message-inline, .form-message {
    display:block;
    font-size:80%;
    padding:.2em 0 .8em;
  }
}
.row {
  letter-spacing:-0.31em;
  *letter-spacing:normal;
  *word-spacing:-0.43em;
  text-rendering:optimizespeed;
  font-family:FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  display:-webkit-flex;
  -webkit-flex-flow:row wrap;
  display:-ms-flexbox;
  -ms-flex-flow:row wrap;
}
.opera-only :-o-prefocus, .row { word-spacing:-0.43em; }
.col {
  display:inline-block;
  *display:inline;
  zoom:1;
  letter-spacing:normal;
  word-spacing:normal;
  vertical-align:top;
  text-rendering:auto;
}
.row [class *="col"] { font-family:sans-serif; }
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
  display:inline-block;
  *display:inline;
  zoom:1;
  letter-spacing:normal;
  word-spacing:normal;
  vertical-align:top;
  text-rendering:auto;
}
.col12 { width:100%; }
.col11 { width:90.75%; }
.col10 { width:82.5%; }
.col9 { width:74.25%; }
.col8 { width:66%; }
.col7 { width:57.75%; }
.col6 { width:49.5%; }
.col5 { width:41.25%; }
.col4 { width:33%; }
.col3 { width:24.75%; }
.col2 { width:16.5%; }
.col1 { width:8.25%; }
.row-fluid {
  letter-spacing:-0.31em;
  *letter-spacing:normal;
  *word-spacing:-0.43em;
  font-family:FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  display:-webkit-flex;
  -webkit-flex-flow:row wrap;
  display:-ms-flexbox;
  -ms-flex-flow:row wrap;
}
.opera-only :-o-prefocus, .row-fluid { word-spacing:-0.43em; }
.row-fluid [class *="col"] { font-family:sans-serif; }
.row-fluid img {
  max-width:100%;
  height:auto;
}
@media (min-width: 980px) {
  .show-phone { display:none; }
  .show-tablet { display:none; }
  .hide-desktop { display:none; }
}
@media (max-width: 480px) {
  .row-fluid > .col, .row-fluid > [class *="col"] { width:100%; }
}
@media (max-width: 767px) {
  .row-fluid > .col, .row-fluid > [class *="col"] { width:100%; }
  .hide-phone { display:none; }
  .show-desktop { display:none; }
}
@media (min-width: 768px) and (max-width: 979px) {
  .hide-tablet { display:none; }
  .show-desktop { display:none; }
}
.navbar ul {
  position:absolute;
  visibility:hidden;
}
.navbar.navbar-open {
  visibility:visible;
  z-index:2;
  width:100%;
}
.navbar ul {
  left:-10000px;
  list-style:none;
  margin:0;
  padding:0;
  top:-10000px;
  z-index:1;
}
.navbar > ul { position:relative; }
.navbar-open > ul {
  left:0;
  top:0;
  visibility:visible;
}
.navbar-open > ul:focus { outline:0; }
.navbar li { position:relative; }
.navbar a, .navbar .brand {
  display:block;
  color:inherit;
  line-height:1.5em;
  padding:5px 20px;
  text-decoration:none;
  white-space:nowrap;
}
.navbar .navbar-horizontal > .brand {
  display:inline-block;
  *display:inline;
  zoom:1;
  margin:0;
  vertical-align:middle;
}
.navbar .navbar-horizontal > ul {
  display:inline-block;
  *display:inline;
  zoom:1;
  vertical-align:middle;
  height:2.4em;
}
.navbar li a { padding:5px 20px; }
.navbar-can-have-children > .navbar-label:after {
  content:'\25B8';
  float:right;
  font-family:'Lucida Grande', 'Lucida Sans Unicode', 'DejaVu Sans', sans-serif;
  margin-right:-20px;
  margin-top:-1px;
}
.navbar-can-have-children > .navbar-label { padding-right:30px; }
.navbar-separator {
  background-color:#dfdfdf;
  display:block;
  height:1px;
  font-size:0;
  margin:7px 2px;
  overflow:hidden;
}
.navbar-hidden { display:none; }
.navbar-fixed {
  position:fixed;
  top:0;
  left:0;
  width:100%;
}
.navbar-horizontal li {
  display:inline-block;
  *display:inline;
  zoom:1;
  vertical-align:middle;
}
.navbar-horizontal li li { display:block; }
.navbar-horizontal > .navbar-children > .navbar-can-have-children > .navbar-label:after { content:"\25BE"; }
.navbar-horizontal > .navbar-children > .navbar-can-have-children > .navbar-label { padding-right:30px; }
.navbar-horizontal li.navbar-separator {
  height:50%;
  width:1px;
  margin:0 7px;
}
.navbar-horizontal li li.navbar-separator {
  height:1px;
  width:auto;
  margin:7px 2px;
}
.navbar .navbar-open, .navbar .navbar-horizontal li .navbar-children {
  background:#fff;
  border:1px solid #b7b7b7;
}
.navbar .navbar-horizontal, .navbar .navbar-horizontal .brand { border:none; }
.navbar a {
  border:1px solid transparent;
  border-left:none;
  border-right:none;
}
.navbar a, .navbar .navbar-can-have-children > li:after { color:#777; }
.navbar .navbar-can-have-children > li:hover:after { color:#fff; }
.navbar .navbar-open { background:#dedede; }
.navbar li a:hover, .navbar li a:focus { background:#eee; }
.navbar li.navbar-disabled a:hover, .navbar li.navbar-disabled a:focus {
  background:#fff;
  color:#bfbfbf;
}
.navbar .navbar-disabled > a {
  background-image:none;
  border-color:transparent;
  cursor:default;
}
.navbar .navbar-disabled > a, .navbar .navbar-can-have-children .navbar-disabled > a:after { color:#bfbfbf; }
.navbar .brand {
  color:#565d64;
  text-transform:uppercase;
  font-size:90%;
  margin-top:0.5em;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:#dfdfdf;
}
.navbar .active a { color:#000; }
.navbar .navbar-open .navbar-fixed {
  border:none;
  border-bottom:1px solid #b7b7b7;
}
.pager {
  letter-spacing:-0.31em;
  *letter-spacing:normal;
  *word-spacing:-0.43em;
  text-rendering:optimizespeed;
  list-style:none;
  margin:0;
  padding:0;
}
.opera-only :-o-prefocus, .pager { word-spacing:-0.43em; }
.pager li {
  display:inline-block;
  *display:inline;
  zoom:1;
  letter-spacing:normal;
  word-spacing:normal;
  vertical-align:top;
  text-rendering:auto;
}
.pager .button {
  border-radius:0;
  padding:0.8em 1.4em;
  vertical-align:top;
  height:1.1em;
}
.pager .button:focus, .pager .button:active { outline-style:none; }
.pager .prev, .pager .next {
  color:#C0C1C3;
  text-shadow:0 -1px 0 rgba(0,0,0,0.45);
}
.pager .prev { border-radius:2px 0 0 2px; }
.pager .next { border-radius:0 2px 2px 0; }
@media (max-width: 480px) {
  .navbar-horizontal { width:100%; }
  .navbar-children li {
    display:block;
    border-bottom:1px solid black;
  }
}
.table {
  border-collapse:collapse;
  border-spacing:0;
  empty-cells:show;
  border:1px solid #cbcbcb;
}
.table caption {
  color:#000;
  font:italic 85%/1 arial, sans-serif;
  padding:1em 0;
  text-align:center;
}
.table td, .table th {
  border-left:1px solid #cbcbcb;
  border-width:0 0 0 1px;
  font-size:inherit;
  margin:0;
  overflow:visible;
  padding:6px 12px;
}
.table td:first-child, .table th:first-child { border-left-width:0; }
.table thead {
  background:#e0e0e0;
  color:#000;
  text-align:left;
  vertical-align:bottom;
}
.table td { background-color:transparent; }
.table-odd td { background-color:#f2f2f2; }
.table-striped tr:nth-child(2n-1) td { background-color:#f2f2f2; }
.table-bordered td { border-bottom:1px solid #cbcbcb; }
.table-bordered tbody > tr:last-child td, .table-horizontal tbody > tr:last-child td { border-bottom-width:0; }
.table-horizontal td, .table-horizontal th {
  border-width:0 0 1px;
  border-bottom:1px solid #cbcbcb;
}
.table-horizontal tbody > tr:last-child td { border-bottom-width:0; }
.btn {
  display:inline-block;
  line-height:normal;
  white-space:nowrap;
  vertical-align:baseline;
  text-align:center;
  cursor:pointer;
  font-size:100%;
  padding:.5em 1.5em;
  border:1px solid transparent;
  text-decoration:none;
  border-radius:0px;
  -webkit-user-select:none;
  -webkit-user-drag:none;
  -khtml-user-drag:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
  color:#171717;
  background-color:#E6E6E6;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn .open {
  color:#171717;
  background-color:#d2d2d2;
}
.btn:active, .btn.active, .btn .open { background-image:none; }
.btn:focus { outline:none; }
.btn.disabled, .btn.disabled:hover, .btn.disabled:focus, .btn.disabled:active, .btn.disabled.active, .btn[disabled], .btn[disabled]:hover, .btn[disabled]:focus, .btn[disabled]:active, .btn[disabled].active, fieldset[disabled] .btn, fieldset[disabled] .btn:hover, fieldset[disabled] .btn:focus, fieldset[disabled] .btn:active, fieldset[disabled] .btn.active { background-color:#E6E6E6; }
.btn[disabled], .btn-disabled, .btn-disabled:hover, .btn-disabled:focus, .btn-disabled:active {
  border:0;
  cursor:not-allowed;
  pointer-events:none;
  -moz-opacity:0.65;
  -khtml-opacity:0.65;
  -webkit-opacity:0.65;
  opacity:0.65;
  -ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=65);
  filter:alpha(opacity=65);
}
.btn-hidden { display:none; }
.btn-inverse {
  color:#f7f7f7;
  background-color:#4d4d4d;
}
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .btn-inverse .open {
  color:#f7f7f7;
  background-color:#393939;
}
.btn-inverse:active, .btn-inverse.active, .btn-inverse .open { background-image:none; }
.btn-inverse:focus { outline:none; }
.btn-inverse.disabled, .btn-inverse.disabled:hover, .btn-inverse.disabled:focus, .btn-inverse.disabled:active, .btn-inverse.disabled.active, .btn-inverse[disabled], .btn-inverse[disabled]:hover, .btn-inverse[disabled]:focus, .btn-inverse[disabled]:active, .btn-inverse[disabled].active, fieldset[disabled] .btn-inverse, fieldset[disabled] .btn-inverse:hover, fieldset[disabled] .btn-inverse:focus, fieldset[disabled] .btn-inverse:active, fieldset[disabled] .btn-inverse.active { background-color:#4d4d4d; }
.btn-success {
  color:#f7f7f7;
  background-color:#3d9400;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success .open {
  color:#f7f7f7;
  background-color:#2c6b00;
}
.btn-success:active, .btn-success.active, .btn-success .open { background-image:none; }
.btn-success:focus { outline:none; }
.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active, .btn-success[disabled].active, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active { background-color:#3d9400; }
.btn-warning {
  color:#f7f7f7;
  background-color:#f76f00;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning .open {
  color:#f7f7f7;
  background-color:#ce5d00;
}
.btn-warning:active, .btn-warning.active, .btn-warning .open { background-image:none; }
.btn-warning:focus { outline:none; }
.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled]:active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active { background-color:#f76f00; }
.btn-error {
  color:#f7f7f7;
  background-color:#e10c0c;
}
.btn-error:hover, .btn-error:focus, .btn-error:active, .btn-error.active, .btn-error .open {
  color:#f7f7f7;
  background-color:#ba0a0a;
}
.btn-error:active, .btn-error.active, .btn-error .open { background-image:none; }
.btn-error:focus { outline:none; }
.btn-error.disabled, .btn-error.disabled:hover, .btn-error.disabled:focus, .btn-error.disabled:active, .btn-error.disabled.active, .btn-error[disabled], .btn-error[disabled]:hover, .btn-error[disabled]:focus, .btn-error[disabled]:active, .btn-error[disabled].active, fieldset[disabled] .btn-error, fieldset[disabled] .btn-error:hover, fieldset[disabled] .btn-error:focus, fieldset[disabled] .btn-error:active, fieldset[disabled] .btn-error.active { background-color:#e10c0c; }
.btn-info {
  color:#f7f7f7;
  background-color:#1c94c4;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info .open {
  color:#f7f7f7;
  background-color:#1779a0;
}
.btn-info:active, .btn-info.active, .btn-info .open { background-image:none; }
.btn-info:focus { outline:none; }
.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active, .btn-info[disabled].active, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active { background-color:#1c94c4; }
.btn-group {
  position:relative;
  display:inline-block;
  vertical-align:middle;
}
.btn-group .btn {
  margin:0;
  border-radius:0;
  border-right:1px solid rgba(0,0,0,0.2);
}
.btn-group .btn:first-child {
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
}
.btn-group .btn:last-child {
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
  border-right:none;
}
.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group + .btn, .btn-group + .btn-group { margin-left:-5px; }
